.container {
  padding-top: 30px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  font-weight: bold;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #343a40;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

a.btn.btn-danger {
  margin-right: 10px;
}

a.btn.btn-info.ml-2 {
  margin-right: 10px;
}